*.egg-info
data/interim
data/raw
data/processed/potential_references.json
scripts/retired
src/__pycache__
*.pyc
*.pkl
*.jsonl
.vscode/settings.json
data/processed/cd-index.*
data/processed/citation-references.csv
data/processed/high_citation_medicine.csv
